.layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.layout > .column {
  margin-bottom: 3rem;
}

.layout > .column.column--1of3 {
  flex-basis: 30%;
}

.layout > .column.column--2of3 {
  flex-basis: 64%;
}

@media screen and (max-width: 1080px) {
  .layout > .column {
    flex-basis: 100% !important;
  }
}

.singleProject .column--1of3 {
  order: 2;
}

@media screen and (min-width: 1081px) {
  .singleProject .column--1of3 {
    order: 1;
  }
  .singleProject .column--2of3 {
    order: 2;
  }
}

.singleProject__toolStack {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.singleProject__liveLink {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.singleProject__liveLink:hover {
  font-weight: 500;
  border-bottom: 2px solid var(--color-main);
}

.singleProject__liveLink i {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.singleProject__preview {
  height: 50vh;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 3rem;
  border-radius: 0.7rem;
}

.singleProject__developer {
  font-size: 1.8rem;
  font-weight: 500;
}

.singleProject__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--color-sub);
  margin-bottom: 3rem;
}

.project__author {
  font-size: 1.4rem;
  font-style: italic;
}

.project--rating {
  margin-bottom: 1.6em;
  margin-top: 0.5em;
}

.singleProject__subtitle {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-sub-light);
  margin-bottom: 1rem;
}

.form {
  display: block;
  margin-bottom: 2rem;
}

.form__field {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.form__field > label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-text);
}

textarea.input {
  min-width: 24rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-light);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-bg);
}

textarea.input:focus,
textarea.input:active {
  outline: none;
  border: 2px solid var(--color-main);
}
