.project__thumbnail {
  height: 25rem;
  object-fit: cover;
  object-position: top center;
}

.project__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-sub);
}

.project__author {
  font-size: 1.4rem;
  font-style: italic;
}

.project--rating {
  margin-bottom: 1.6em;
  margin-top: 0.5em;
}

.grid--two > .column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .grid--two {
    margin-right: -2%;
  }

  .grid--two > .column {
    margin-right: 2%;
  }

  .grid--two > .column {
    flex-basis: 48%;
  }
}
